<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.dariusl.rxfirebase.test">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
